.shadow-pane {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.75);

  display: flex;
  align-items: center;
  justify-content: center;

  .message-container {
    background: white;
    padding: 24px;
    max-width: 50vw;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 12px 0;
    }

    p {
      margin-top: 12px;
      font-weight: 300;
      text-align: center;
    }

    .info {
      color: var(--info-color);
    }

    .warning {
      color: var(--warning-color);
    }

    .error {
      color: var(--error-color);
    }
  }
}
