<header>
  <div style="flex-grow: 1;"></div>
  <h3>SE Study Planner</h3>
  <div style="flex-grow: 1;"></div>
  <fa name="bars" size="lg"></fa>
</header>

<div id="main-container">
  <div id="veranstaltungen">
    <h4 class="title">Module & Veranstaltungen</h4>
    <app-modul-veranstaltungen
      *ngFor="let m of module"
      [modul]="m"
    ></app-modul-veranstaltungen>
  </div>

  <div id="right">
    <div id="semesterplanung">
      <app-semester-swim-lane
        *ngFor="let semNr of semester"
        [semesterNr]="semNr"
      ></app-semester-swim-lane>
    </div>

    <div id="rulecheckers">
      <h4 class="rules-header {{ allRegelnCheck ? 'success' : 'error' }}">
        {{ succesfulRegelnCount }}/{{ regeln.length }} Anforderungen erfüllt
        <fa
          [name]="'angle-' + (regelnHidden ? 'up' : 'down')"
          size="lg"
          (click)="toggleRegelnHidden()"
          class="down-btn"
        ></fa>
      </h4>
      <div class="rules-container {{ regelnHidden ? 'hidden' : '' }} ">
        <app-rule-checker
          *ngFor="let regel of regeln"
          [regel]="regel"
        ></app-rule-checker>
      </div>
    </div>
  </div>
</div>
