header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  background: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.56);
  z-index: 999;
  position: fixed;

  #title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#main-container {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--header-height));
  padding-top: var(--header-height);
}

#veranstaltungen {
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 12px;
  width: 22%;
  min-width: 320px;
  border-right: 1px solid rgb(120, 120, 120);
  background: linear-gradient(
    30deg,
    rgba(70, 74, 80, 1) 0%,
    rgba(59, 76, 85, 1) 100%
  );

  .title {
    color: white;
    margin-bottom: 12px;
  }

  app-modul-veranstaltungen {
    display: block;
    margin-bottom: 12px;
  }
}

#right {
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 12px;

  display: flex;
  flex-direction: column;

  border-left: 1px solid rgb(216, 216, 216);
  background: linear-gradient(
    30deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(199, 211, 218, 1) 100%
  );

  #semesterplanung {
    flex-grow: 1;
    overflow-y: auto;

    app-semester-swim-lane {
      display: block;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  app-rules-display {
    display: block;
    margin-top: 12px;
  }
}
