.rule-checker {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 6px;
    width: 22px;
  }

  .desc {
    font-weight: 300;
  }

  &.error {
    color: var(--warning-color);
  }

  &.success {
    color: var(--success-color);
  }
}
