<div id="regeln-display">
	<h4 class="regeln-header {{ allRegelnPassedFlag ? 'success' : 'error' }}">
		{{ passedRegelnCount }}/{{ regelnForDisplay.length }}
		Anforderungen erfüllt ~~
		{{ einbringbareLPCount }}
		LP einbringbar
		<fa-icon [icon]="regelnHidden ? faAngleUp : faAngleDown" size="lg" (click)="toggleRegelnHidden()" class="down-btn"></fa-icon>
	</h4>
	<div class="regeln-container {{ regelnHidden ? 'hidden' : '' }} ">
		<div *ngFor="let regel of regelnForDisplay" class="regel {{ regel.state ? 'success' : 'error' }}">
			<fa-icon class="icon" [icon]="regel.state ? faCheckCircle : faExclamationTriangle" size="lg"></fa-icon>
			<p class="desc">
				{{ regel.message }}
			</p>
		</div>
	</div>
</div>
